<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand h1">TODOS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex mx-auto">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active display-2"
              routerLink=""
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              >HOME</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link display-2"
              routerLink="/todo"
              routerLinkActive="active"
              >TODO</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link display-2"
              routerLink="/completati"
              routerLinkActive="active"
              >COMPLETATI</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
